openapi: 3.0.3
info:
  title: MapleAI API
  version: 1.1.1
  description: |
    MapleAI provides AI-powered endpoints for text, images, video, audio, embeddings, moderation, and account info.
    All requests must be authenticated with a Bearer token.

servers:
  - url: https://api.mapleai.de/v1

security:
  - bearerAuth: []

tags:
  - name: Models
  - name: Chat
  - name: Images
  - name: Videos
  - name: Responses
  - name: Embeddings
  - name: Audio
  - name: Moderation
  - name: Account

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Message:
      type: object
      properties:
        role:
          type: string
          enum: [system, user, assistant]
        content:
          type: string

paths:

  /models:
    get:
      tags: [Models]
      summary: List available models
      description: Retrieve a list of available MapleAI models.
      responses:
        '200':
          description: Successful response

  /chat/completions:
    post:
      tags: [Chat]
      summary: Create chat completion
      description: Chat with MapleAI conversational models.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                model:
                  type: string
                messages:
                  type: array
                  items:
                    $ref: '#/components/schemas/Message'
                stream:
                  type: boolean
              required: [model, messages]
      responses:
        '200':
          description: Successful chat completion
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: chatcmpl-abc123
                  object:
                    type: string
                    example: chat.completion
                  created:
                    type: integer
                    example: 1730391000
                  model:
                    type: string
                    example: maple-chat-large
                  choices:
                    type: array
                    items:
                      type: object
                      properties:
                        index:
                          type: integer
                          example: 0
                        message:
                          $ref: '#/components/schemas/Message'
                        finish_reason:
                          type: string
                          example: stop
                  usage:
                    type: object
                    properties:
                      prompt_tokens:
                        type: integer
                        example: 12
                      completion_tokens:
                        type: integer
                        example: 62
                      total_tokens:
                        type: integer
                        example: 74

  /images/generations:
    post:
      tags: [Images]
      summary: Generate images
      description: Create new images from text prompts.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                model:
                  type: string
                  example: dall-e-3
                prompt:
                  type: string
                size:
                  type: string
                n:
                  type: integer
                response_format:
                  type: string
                  enum: [b64_json, url]
                  description: Optional. The server will choose a default if omitted.
              required: [model, prompt]
      responses:
        '200':
          description: Image(s) generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: integer
                    example: 1730391212
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        b64_json:
                          type: string
                          description: Returned if response_format=b64_json
                        url:
                          type: string
                          description: Returned if response_format=url

  /images/edits:
    post:
      tags: [Images]
      summary: Edit images
      description: Edit or extend existing images using mask and prompt input.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                model:
                  type: string
                  example: gpt-image-1
                prompt:
                  type: string
                image:
                  type: string
                  format: binary
                mask:
                  type: string
                  format: binary
                size:
                  type: string
                n:
                  type: integer
                response_format:
                  type: string
                  enum: [b64_json, url]
                  description: Defaults to b64_json
                  default: b64_json
              required: [model, prompt, image]
      responses:
        '200':
          description: Image edited successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        b64_json:
                          type: string
                        url:
                          type: string

  /videos:
    post:
      tags: [Videos]
      summary: Generate video
      description: Generate a video from a prompt using models like Sora 2.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                model:
                  type: string
                  example: sora-2
                prompt:
                  type: string
                  example: A kitty talking about how awesome MapleAI is
              required: [model, prompt]
      responses:
        '200':
          description: Video generation request accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string }
                  object: { type: string, example: video }
                  status: { type: string, example: queued }
                  model: { type: string, example: sora-2 }

  /videos/{video_id}:
    get:
      tags: [Videos]
      summary: Retrieve video status
      parameters:
        - name: video_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Video job metadata retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string }
                  object: { type: string, example: video }
                  status: { type: string, example: queued }
                  model: { type: string }

  /videos/{video_id}/content:
    get:
      tags: [Videos]
      summary: Retrieve rendered video
      parameters:
        - name: video_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Returns the generated video content (MP4)
          content:
            video/mp4:
              schema:
                type: string
                format: binary

  /responses:
    post:
      tags: [Responses]
      summary: Unified Responses API
      description: A single endpoint supporting both chat-style and instruction-style responses.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                model:
                  type: string
                input:
                  type: array
                  items:
                    $ref: '#/components/schemas/Message'
                stream:
                  type: boolean
              required: [model, input]
      responses:
        '200':
          description: Response created successfully

  /embeddings:
    post:
      tags: [Embeddings]
      summary: Create embeddings
      description: Convert text into numeric vector representations.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                model:
                  type: string
                  example: text-embedding-3-large
                input:
                  oneOf:
                    - type: string
                    - type: array
                      items: { type: string }
                encoding_format:
                  type: string
                  enum: [float, base64]
      responses:
        '200':
          description: Embedding created successfully

  /audio/speech:
    post:
      tags: [Audio]
      summary: Text-to-speech
      description: Generate lifelike speech from text input.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                model:
                  type: string
                  example: gpt-4o-mini-tts
                input:
                  type: string
                voice:
                  type: string
                  enum:
                    - alloy
                    - ash
                    - ballad
                    - coral
                    - echo
                    - fable
                    - onyx
                    - nova
                    - sage
                    - shimmer
                    - verse
                response_format:
                  type: string
                  enum: [mp3, wav, ogg]
                  default: mp3
              required: [model, input, voice]
      responses:
        '200':
          description: Speech generated successfully

  /audio/transcriptions:
    post:
      tags: [Audio]
      summary: Transcribe audio
      description: Convert spoken audio into text.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                model: { type: string }
                file:
                  type: string
                  format: binary
              required: [model, file]
      responses:
        '200':
          description: Audio transcription successful

  /audio/translations:
    post:
      tags: [Audio]
      summary: Translate audio
      description: Translate spoken audio into English.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                model: { type: string }
                file:
                  type: string
                  format: binary
              required: [model, file]
      responses:
        '200':
          description: Audio translation successful

  /moderations:
    post:
      tags: [Moderation]
      summary: Check content moderation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                model: { type: string }
                input: { type: string }
              required: [model, input]
      responses:
        '200':
          description: Moderation check performed successfully

  /key-info:
    get:
      tags: [Account]
      summary: Get key info
      responses:
        '200':
          description: API key info retrieved successfully
    post:
      tags: [Account]
      summary: Post key info
      responses:
        '200':
          description: API key info retrieved successfully

  /usage-history:
    get:
      tags: [Account]
      summary: Get usage history
      responses:
        '200':
          description: Usage history retrieved successfully
    post:
      tags: [Account]
      summary: Post usage history
      responses:
        '200':
          description: Usage history retrieved successfully
